@model IEnumerable<Movie>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Movies</h2>
        </div>
        @{
            if (TempData["role"]!=null && TempData["role"].Equals("CONTENT-ADMIN"))
            {
                <div class="col-6 text-end">
                    <a asp-controller="Movie" asp-action="Create" class="btn btn-primary">
                        <i class="bi bi-plus-circle"></i> &nbsp; Add New Movie
                    </a>
                </div>
            }
        }
    </div>
    <br /><br />

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Movie Name
			</th>
            <th>
                Genre
			</th>
            <th>
                Duration (mins)
            </th>
            <th>
                Screenings
            </th>
		</tr>
	</thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td width="35%">
                    @obj.MovieName
				</td>
                <td width="35%">
                    @obj.Genre
				</td>
                <td width="10%">
                    @obj.Length
                </td>
                <td width="20%">
                    <form asp-controller="Screening" asp-action="Index" method="get">
                        <input type="hidden" value="@obj.MovieName" name="MovieName">
                        <input type="submit" class="btn-light" value="View Screenings">
                    </form>
                </td>
			</tr>
        }
    </tbody>
</table>
</div>

