﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Cinema Bookings Website!</h1>
    <p>We have a plethora of movies for you to watch and enjoy.</p>
    <p>Sign In or Sign Up if you don't have an account.</p>
</div>
