@model CinemaApplication.Models.Screening

@{
    ViewData["Title"] = "Edit";
    String movieName = Model.Movie.MovieName;
}

<h1>@movieName</h1>

<h4>Screening at @Model.Cinema.Name Cinema</h4>
<hr />
<div class="row">
        <div class="col-md-4">
            <form asp-action="Edit" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" name="MovieName" value="@movieName" />
                <div class="form-group">
                    <label asp-for="Time" class="control-label"></label>
                    <input asp-for="Time" class="form-control" />
                    <span asp-validation-for="Time" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

<div>
    <a asp-controller="Screening" asp-action="Index">Back to Screenings</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
